{% extends 'todoapp/base.html' %}

{% block title %}
    Add Note
{% endblock title %}


{% block add_noteactive %}
    active
{% endblock add_noteactive %}
    
{% load static %}



{% block bodycontent %}


<section class="section1">
    <div class="container section section1"><br>
        <h5 class="text-center headinghome mb-3">নতুন নোট যোগ করুন</h5>
        {% if form.errors %}
            <h5 class="my_alert_danger">{{form.errors.title}}</h5>  
         {% endif %}
         
         {% if success_msg %}
            <h5 class="alert alert-success">{{ success_msg }}</h5>
             
         {% endif %}
             
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                <label class="mt-3">শিরোনাম</label>
                <input type="text" class="form-control textinput" name="title" placeholder="শিরোনাম লিখুন">
                <label class="mt-3">তথ্য</label>
                <textarea name="note" id="" cols="10" rows="5" class="form-control textinput" placeholder="নোট লিখুন"></textarea>
                <input type="number" name="archive" value="0" class="hide">
                <input type="text" class="form-control datePicker hide" name="date" >
                <button class="btn btn-primary mt-4">যোগ করুন</button><span><a href="{% url 'add_note' %}" class="btn btn-info ml-2 mt-4">Refresh</a></span>
            </div>
            </form>
        </div>

    
            
        
        
    </div>


</section>

<script>
    var now = new Date();
    var today = now.getDate()  + '/' + (now.getMonth() + 1) + '/' + now.getFullYear();
    $('.datePicker').val(today);
</script>

{% endblock bodycontent %}
    